.authentication-form{
    width :400px;
    border-radius: 12px;
}
.font-bold{
   font-weight: bold;
}
.underline{
    text-decoration: underline;
}
a:hover{
    cursor: pointer;
    color: var(--colour-primary);
    text-decoration: underline;
}
